setuptools
pyaudio
SpeechRecognition
numpy
streamlit
streamlit_chat
langchain
sentence_transformers
openai
PyPDF2
tiktoken
pinecone-client
google-cloud-translate
pdfminer
opencv-python
IPython
streamlit_webrtc
streamlit-mic-recorder
langchain-community
langchain-openai
audio-recorder-streamlit
sounddevice
fastapi
uvicorn
mysql-connector
boto3